.portero {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.defensa1 {
  position: absolute;
  left: 20%;
  top: 65%;
  transform: translate(-50%, -50%);
}
.defensa2 {
  position: absolute;
  left: 35%;
  top: 65%;
  transform: translate(-50%, -50%);
}
.defensa3 {
  position: absolute;
  left: 65%;
  top: 65%;
  transform: translate(-50%, -50%);
}
.defensa4 {
  position: absolute;
  left: 80%;
  top: 65%;
  transform: translate(-50%, -50%);
}

.medio1 {
  position: absolute;
  left: 30%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.medio2 {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.medio3 {
  position: absolute;
  left: 70%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.medio4 {
  position: absolute;
  left: 90%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.delantero1 {
  position: absolute;
  left: 40%;
  top: 20%;
  transform: translate(-50%, -50%);
}
.delantero2 {
  position: absolute;
  left: 60%;
  top: 20%;
  transform: translate(-50%, -50%);
}
