.showPasswordButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: #0097e6;
  padding: 0 0.3rem;
  transition: color 0.2s;
}

.showPasswordButton:hover,
.showPasswordButton:focus {
  color: #00ffb3;
  outline: none;
}
