.blueButton {
  padding: 0.7rem 1.5rem;
  background: #3182ce;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: #2563eb;
  }
  &:disabled {
    background: #a0aec0;
    cursor: not-allowed;
  }
}

.redButton {
  padding: 0.7rem 1.5rem;
  background: #e53e3e;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: #c53030;
  }
}

.navButton {
  padding: 0.7rem 2rem;
  border-radius: 6px 6px 0 0;
  background: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;

  &:hover,
  &:focus {
    background: #0097e6;
    color: #fff;
  }
}
