.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  color: white;
}

.input {
  color: black;
  padding: 0.6rem 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  background: #fff;
  transition: border 0.2s;
  &:focus {
    border-color: #3182ce;
    outline: none;
  }
}

.span {
  color: #e53e3e;
  font-size: 0.95rem;
  margin-top: 0.2rem;
}
